.clock_box {
  border: 3px solid black;
  border-radius: 50%;
  position: relative;
  height: 200px;
  width: 200px;
  cursor: move;
  background-color: transparent;
  /*opacity: 0;*/
  user-select: none;
}

.clock_dial {
  font-size: 18px;
  width: 100%;
  height: 100%;
  position: relative;
  -moz-transform-origin: center center;
  -webkit-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  text-align: center;

}

.dial {
  position: absolute;
  width: 20px;
  height: 100%;
  top: 0;
  left: 87px;
}

.dial span {
  width: 3px;
  height: 10px;
  background: black;
  display: inline-block;
  vertical-align: top;
}

.dial b {
  display: inline-block;
}

.H, .M, .S {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  text-align: center;
}

.H span {
  margin-top: 65px;
  width: 3px;
  height: 43px;
  background: black;
  display: inline-block;
}

.M span {
  margin-top: 52px;
  height: 54px;
  width: 3px;
  background: black;
  display: inline-block;
}

.S span {
  margin-top: 45px;
  height: 70px;
  width: 3px;
  background: grey;
  display: inline-block;
  position: relative;
}

.S span:after {
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: grey;
  position: absolute;
  bottom: 7px;
  left: -2.3px;

}

#div1 {
  width: 500px;
  height: 300px;
  border: 1px solid black;
}

#range {
  /*position: relative;*/
  width: 100%;
  height: 100%;
  /*margin: 10px;*/
  /*background-color: rgb(62, 165, 165);*/
  border: 1px solid rgb(62, 165, 165);
}

.icon {
  /*border: 1px solid black;*/
  position: absolute;
  height: 200px;
  width: 200px;
  cursor: move;
  /*background-color: #ff9204;*/
  /*opacity: 0;*/
  user-select: none;
}


